body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(158, 155, 155);
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0010pxrgba(0, 0, 0, 0.1);
}

footer a {
    color: orange;
    text-decoration: none;
    margin-right: 15px;
}